.sv_main .sv_container .sv_body .sv_p_root > .sv_row {
    position: relative;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="radio"] {
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 6em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="radio"]:checked + span::before,
.sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="radio"]:active + span::before {
    display: block;
    width: 2em;
    height: 2em;
    content: url('vote.png');
    position: absolute;
    top: 8px;
    left: 50%;
    margin: -30px;
  }

.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {
    margin-top: 200px;
    border: 2px #000 solid;
    margin-left: -1em;
    margin-right: -1em;
    padding: 1em;
    height: 22em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_title span {
    font-size: 20pt;
    word-break: break-all;
    padding-top: 2em;
    display: block;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_qcbc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_qcbc .sv_q_radiogroup {
    border: 2px #000 solid;
    width: calc(50% - .5em);
    height: 13em;
    padding: 0;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_qcbc .sv_q_radiogroup:first-child {
    margin-right: 1em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_radiogroup_label {
  position: relative;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_radiogroup_label > span:last-child {
    font-size: 14pt;
    text-align: center;
    display: block;
    border-top: 2px #000 solid;
    padding-top: 1.8em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
    position: absolute;
    padding: .5em 0;
    top: 10em;
    left: 0;
    font-size: 20pt;
    z-index: 2;
    width: calc(100% - 2em);
    margin: 1em;
    text-align: center;
    border-bottom: 1px #000 solid;
}

.sv_main .sv_container .sv_body .sv_nav input {
    padding: 2px 8px;
    font-size: 18pt;
}

.sv_main .sv_container .sv_p_root > .sv_row {
  background: #FFF;
}
