.sv_main .sv_container .sv_body .sv_p_root > .sv_row {
    position: relative;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="radio"] {
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 6em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="radio"]:checked + span::before {
    display: block;
    width: 2em;
    height: 2em;
    content: url('vote.png');
    position: absolute;
    top: 8px;
    left: 50%;
    margin: -30px;
  }

.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {
    margin-top: 14em;
    border: 2px #000 solid;
    margin-left: -1em;
    margin-right: -1em;
    padding: 1em;
    height: 23em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_title span {
    font-size: 20pt;
    word-break: break-all;
    padding-top: 3em;
    display: block;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_qcbc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_qcbc .sv_q_radiogroup {
    border: 2px #000 solid;
    width: calc(50% - .5em);
    height: 13em;
    padding: 0;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_qcbc .sv_q_radiogroup:first-child {
    margin-right: 1em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_radiogroup_label {
  position: relative;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_radiogroup_label > span:last-child {
    font-size: 14pt;
    text-align: center;
    display: block;
    border-top: 2px #000 solid;
    padding-top: 1.8em;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
    position: absolute;
    padding: .5em 0;
    top: 7em;
    left: 0;
    font-size: 20pt;
    z-index: 2;
    width: calc(100% - 2em);
    margin: 1em;
    text-align: center;
    border-bottom: 1px #000 solid;
}

.sv_main .sv_container .sv_body .sv_nav input {
    padding: 2px 8px;
    font-size: 18pt;
}

.sv_main .sv_container .sv_p_root > .sv_row {
  background: #FFF;
}

.sv_p_root {
  position: relative;
}

.sv_main .sv_container .sv_body {
    max-width: 360px;
    position: relative;
    margin: 0 auto;
}

.enter {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.enter .main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

.button {
  color: white;
  background-color: #1ab394;
  padding: 2px 16px;
  border: none;
  font-size: 18pt;
  font-weight: bold;
  line-height: 2em;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 10px;
}

.button:hover {
  background-color: #179d82;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: .5em;
}

.results {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  padding-bottom: 20px;
}

.results .button {
  width: 100%;
}

.items {
  border: 2px solid #000;
  padding: 2px 4px;
  margin: 5px 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAAXNSR0IArs4c6QAABQZJREFUeAHtnGtrFFcYx3c1Rs1GxQsRi9piVbwWtV5q7Q1pbZtk4yYQRUPsqhCxEhVbURTtlipYLNV8hr4tlOZrhHyMvMqLvMqVXPwd2Qhu2MzMzuyZ23/hsNmdc3me39/nnDPPnDWT0UsEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAEREAERMA/gYWFhWzWfzfqIQgCra2tp7LZ7IAECYKmjz46Ojo+mJube050/EQ3ihAfLH01LRaLa0ZHR+8gxBM6yi12pghZJGHxPZ/PF4iKVwz5UeWwEqSSSB0/Mz19ghADRMU31YaRINXIBPg9EbFlfn7+d7q8gRgrl+t62YvLNdQ1ZwKlUqkhl8vdQoT/KF/SYoVTK0WIE6EarxMV54gKMz3t89KFBPFCy0Xdzs7OvTMzM68QotVF9SVVJMgSJLV90d3dvWFycvIxUXGXHlbV1ksmozWkVnLldqwTK1gnrhEV/xMV3/G1L6aKEB+CkO74yqQ7EOKIj27eaypB3sPh7gNCfEjNPykX3bVwX0uCuGeV6e3tzY2Njd1nnXhAszUemrqu6mu+cz1KzCsyJWWHhoYuTU1NDfJ3Hnca6uWSIsSBLPcTJ8r3E6cdqgZyWYJUwdjV1bVtenr6GRFxlSrWOGnKqhCkv79/dUtLyy+zs7P/IsYpm2IYU6wpX+F3JD+2tbV1YJi5y94VloESBPIIcQgRBvjzbFhCLI5bt93C4gBRfifvtJk77BI23qREYvqOhBG2RTNp8ebm5p95WGTS4l8zvmNa3JaNqZuyTFq8/Pj0gC3IXsZJjSDt7e17iIaXlPNeANmum3hBenp61pPueEwS8C5iNNoG7HW8xK4hJi3OOlHkGcUgUM5RYuFrIiOEdeKLcrrjmNd/oWHXT5QgCLETIV4wNV0KG2yt4ydCEIRoYud0n3XiAWKsrRVGFNrFXhB2TxeJipfA3BEFoH5tiK0gpDs+JRpMuuOMXwhRah87QTiOuZXpyZwWvwbI2NnvJH5sHOKYTePExMRtHHqKGOucHIvr9VgIwjqRR4S/KbvjCtqt3ZEWhN3TwXLeyZx3SsUrkoIwPW1ieioRESYtnqpHBJESBCFWIoQ5sv8HQmxKRUhUOBkZQdjGfottrxHjYIWNqfoYuiCFQuFjntr9BfVCqshXcTY0QbifWMcd9iMi4h4l8mnxKvwC/9p6Shr45hRgkXdzWvwHPLJuQ+AUA+zQaoSwTnyOCCbdcTxAHxLVlRVBOAW4nXOx5rT45UTRq4MzdRWEbexatrG/YvdDIqOpDvYnrsu6CcJvKC7wfMIcKtiZOGp1dChwQdg9HSXdYX5VZH4GrJdHAoEJwinAFu4nnjH+dcSIzMEzjzxCr+5bkL6+vlUjIyO3EeEp3qwP3aOYG+BLELaxbfhvTovviTmHyJhfkyDosL8sxPeR8SQhhngSBCE2Eg2/4fstSqrS4rb0dgW1nBbvwyiTFt9sy7g0juMYITy1O8s29jVwDqcRkG2fqwrC9LQLY8yNXZdto9I83hJBmJ6ax8fHHwHlHmV1muGE4fu71DeRkB0eHr5i/hMVDPmR4mp9CcPoJI/5NkJYJz7jYZFJd5xMsrNx8C3LWvEPQvRg7JLpKw4OJM3GN3P4jfNuE7F7AAAAAElFTkSuQmCC');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.answer {
  text-align: right;
  color: #FFF;
}

a {
  color: #4A68AD;
}
